version: 0.2.{build}

branches:
  only:
  - master

configuration: Release

image:
- Visual Studio 2017

environment:
  PATH: "C:/projects/ThirdPartyVC141/lib;C:/Libraries/boost_1_69_0/lib64-msvc-14.1;C:/projects/spinwavegenie/build/libSpinWaveGenie/Release;%PATH%"
  matrix:
    - PYTHON_DIR: "Python27-x64"
      CACHE_FILENAME: "AppveyorPython27-x64.cmake"
    - PYTHON_DIR: "Python37-x64"
      CACHE_FILENAME: "AppveyorPython37-x64.cmake"

platform: x64

init:
- echo %APPVEYOR_BUILD_WORKER_IMAGE%

install:
  - cd c:\projects
  - git clone https://github.com/SpinWaveGenie/ThirdPartyVC141.git
  - C:\%PYTHON_DIR%\Scripts\pip.exe install numpy

before_build:
  - cd %APPVEYOR_BUILD_FOLDER%
  - git submodule update --init --recursive
  - md build
  - cd build
  - cmake --version
  - cmake -G "Visual Studio 15 2017 Win64" -DBUILD_TESTING=TRUE -DWARNINGS_AS_ERRORS=ON -C ../%CACHE_FILENAME% ..

build_script:
  - cmake --build . -- /p:Configuration=Release /m:2

test_script:
  - ctest -C Release --output-on-failure
